.block {
  position: relative;
}
.block select {
  width: 100%;
  font-size: 1rem;
  line-height: 1.7;
  padding: 0.5rem 0.5rem;
  background-color: var(--main-color);
  border: var(--input-border);
  border-radius: 4px;
  margin-bottom: 1rem;
}
.block label {
  color: var(--middlegray-color);
  background-color: var(--main-color);
  padding: 0 4px;
  position: absolute;
  top: 8px;
  left: 10px;
  transition: transform 0.2s, color 0.2s, outline-color 0.2s;
  transform-origin: 0% 0%;
  pointer-events: none;
}

.block select:focus ~ label {
  transform: translateY(-15px) scale(0.75);
  color: var(--input-border-active-color);
  outline-color: var(--input-border-active-color);
}
.block select:focus {
  outline-color: var(--input-border-active-color);
  color: var(--input-border-active-color);
}
