.account {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top div {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
  background-color: var(--lightmiddlegray-color);
  color: var(--black-color);
  font-size: 1.5rem;
  line-height: 1.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3.875rem auto 0.5rem;
}

.top p {
  font-size: 1.375rem;
  line-height: 2rem;
}

.middle {
  margin-top: 1.375rem;
}
