.account {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top div {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
  background-color: var(--lightmiddlegray-color);
  color: var(--black-color);
  font-size: 1.5rem;
  line-height: 1.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3.875rem auto 0.5rem;
}

.top p {
  font-size: 1.375rem;
  line-height: 2rem;
}

.middle {
  margin-top: 1.375rem;
}

.saveBtn {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 4px;
  background: var(--orange-color);
  color: var(--main-color);
  padding: 0.25rem 0.5rem;
  margin-top: 1.5rem;
  font-size: 0.875rem;
  line-height: 1.7;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 0.4px;
  cursor: pointer;
}
.cardWrap {
  margin-top: 3.125rem;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 1.25rem;
  padding: 1.25rem;

  background: var(--main-color);
  border: var(--card-border);
  box-sizing: border-box;
  box-shadow: var(--box-shadow);
  border-radius: 4px;
}

.card div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card div p {
  font-size: 0.9375rem;
  line-height: 1.375rem;
  color: var(--gray-color);

  width: 30%;
  display: flex;
  justify-content: space-between;
}

.card div p span {
  color: var(--black-color);
}

.favoritesWrap {
  display: flex;
  justify-content: center;
  margin-top: 3.75rem;
}
.favoriteCard {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 23.125rem;

  margin: 0 0.3125rem 0.3125rem;
  padding: 4px;

  background: var(--main-color);
  border: var(--card-border);
  box-sizing: border-box;
  box-shadow: var(--box-shadow);
  border-radius: 4px;
}

.favoriteCard p {
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.375rem;
}
.favoriteCard h4 {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.625rem;
}

@media (max-width: 600px) {
  .favoriteCard {
    margin: 0 0 0.3125rem;
  }

  .card div p {
    width: 35%;
  }
}

@media (max-width: 290px) {
  .favoriteCard {
    width: 17rem;
  }
  .card div p {
    width: 40%;
  }
}
