.account {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top div {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  background-color: var(--lightmiddlegray-color);
  color: var(--black-color);
  font-size: 24px;
  line-height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 62px auto 8px;
}

.top p {
  font-size: 22px;
  line-height: 32px;
}

.middle {
  margin-top: 22px;
}
.tabs {
  display: flex;
  justify-content: center;
}
.tab {
  text-transform: capitalize;
  background-color: transparent;
  border: var(--input-border);
  padding: 30px 40px;

  font-size: 15px;
  line-height: 22px;
  color: var(--black-color);
}

.tab.active {
  background-color: var(--orange-color);
  color: var(--main-color);
  position: relative;
}
.tab.active::after {
  content: '\2666';
  font-size: 28px;
  position: absolute;
  top: 117%;
  left: 50%;
  transform: translate(-50%, -117%);
  color: var(--orange-color);
}
.tabContent h3 {
  font-weight: 300;
  text-align: left;
  height: 100%;
  margin: 50px auto 30px;
}

.saveBtn {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 4px;
  background: var(--orange-color);
  color: var(--main-color);
  padding: 0.25rem 0.5rem;
  margin-top: 1.5rem;
  font-size: 14px;
  line-height: 1.7;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 0.4px;
  cursor: pointer;
}
.cardWrap {
  margin-top: 3.125rem;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 1.25rem;
  padding: 20px;

  background: var(--main-color);
  border: var(--card-border);
  box-sizing: border-box;
  box-shadow: var(--box-shadow);
  border-radius: 4px;
}

.card div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card div p {
  font-size: 15px;
  line-height: 22px;
  color: var(--gray-color);

  width: 30%;
  display: flex;
  justify-content: space-between;
}

.card div p span {
  color: var(--black-color);
}

.favoritesWrap {
  display: flex;
  margin-top: 3.75rem;
}
.favoriteCard {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 250px;
  min-height: 212px;
  margin: 0 5px 5px;
  padding: 4px;

  background: var(--main-color);
  border: var(--card-border);
  box-sizing: border-box;
  box-shadow: var(--box-shadow);
  border-radius: 4px;
}

.favoriteCard p {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
}
.favoriteCard h4 {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.5px;
}
