.block {
  position: relative;
}
.block input {
  width: 100%;
  font-size: 1rem;
  line-height: 1.7;
  padding: 0.25rem 0.5rem;
  border: var(--input-border);
  border-radius: 4px;
  margin-bottom: 1rem;
}
.block label {
  color: var(--middlegray-color);
  padding: 0 4px;
  position: absolute;
  top: 7px;
  left: 10px;
  transition: transform 0.2s, color 0.2s;
  transform-origin: 0% 0%;
  pointer-events: none;
}

.block input:focus ~ label,
.block input:not(:placeholder-shown) ~ label {
  transform: translateY(-15px) scale(0.75);
  background: var(--main-color);
}

.block input:focus {
  color: var(--input-border-active-color);
  outline-color: var(--input-border-active-color);
}
.block input:focus + label {
  color: var(--input-border-active-color);
}
