.products {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 250px;
  min-height: 212px;
  margin: 5px;
  padding: 4px;

  background: var(--main-color);
  border: var(--card-border);
  box-sizing: border-box;
  box-shadow: var(--box-shadow);
  border-radius: 4px;
}

.products span {
  width: 100% !important;
  transition: box-shadow 0.2s ease-in;
}
.products span:hover {
  box-shadow: var(--box-shadow-like);
}

.noResults {
  max-width: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 210px auto 0;
}

.noResults h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}
.noResults p {
  font-size: 15px;
  line-height: 22px;
  text-align: center;
}

.content {
  padding: 10px;
}

.likeModal {
  display: flex;
  flex-direction: column;
  text-align: center;

  background-color: var(--main-color);
  box-shadow: var(--box-shadow);
  border-radius: 4px;
  border: none;
  padding: 2rem;
  margin-bottom: 1rem;
}
.likeModal h3 {
  font-weight: 300;
  margin-bottom: 20px;
}
.likeBtn {
  border: none;
  border-radius: 4px;
  padding: 0.25rem 0.5rem;
  background: var(--orange-color);
  color: var(--main-color);
  font-size: 14px;
  line-height: 1.7;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 0.4px;
  cursor: pointer;
}

.likeBtn:last-child {
  background: var(--main-color);
  color: var(--orange-color);
  border: 1px solid var(--orange-color);
}

.likeBtn:not(:last-child) {
  margin-bottom: 20px;
}
