.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--lightgray-color);
  color: var(--gray-color);
  height: 76px;
  flex-shrink: 0;
  margin-top: 80px;
}
@media (max-width: 600px) {
  .footer {
    margin-top: 40px;
  }
}
