.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--lightgray-color);
  color: var(--gray-color);
  height: 4.75rem;
  flex-shrink: 0;
  margin-top: 5rem;
}
@media (max-width: 600px) {
  .footer {
    margin-top: 2.5rem;
  }
}
