.order {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.order h1 {
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
  margin: 50px 0;
}

.card {
  position: relative;
  display: flex;
  justify-content: space-between;

  max-width: 560px;
  min-height: 160px;
  margin: 5px;
  padding: 10px;

  background: var(--main-color);
  border: var(--card-border);
  box-sizing: border-box;
  box-shadow: var(--box-shadow);
  border-radius: 4px;
}

.card > div {
  margin: 0 20px;
  align-self: center;
  position: relative;
}

.card > div:last-child::before {
  content: '';
  background: var(--lightmiddlegray-color);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 1px;
  margin-left: -20px;
}

.card > div h3 {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}

.card > div h4 {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: var(--gray-color);
}
.card > div h5 {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 7px;
}
.card > div p {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.5px;
}

.middle {
  flex: 1 0 auto;
}

.summary {
  max-width: 560px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0;
  margin-top: 50px;
}

.summary > div > p {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: var(--gray-color);
  display: flex;
  justify-content: space-between;
}
.summary > div > p > span {
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  text-transform: capitalize;
  color: var(--black-color);

  padding-left: 10px;
}

@media (max-width: 490px) {
  .order h1 {
    margin: 40px 0;
  }
  .card {
    width: 100%;
    flex-direction: column;
  }
  .card > span {
    margin-bottom: 1rem !important;
  }
  .card > span > span > img {
    height: 329px !important;
  }
  .card > div {
    margin: 0 auto;
    width: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .card > div > h5 {
    margin: 0 auto 0 0;
  }
  .card > div:last-child::before {
    content: '';
    background: transparent;
    position: relative;
    width: 0;
    margin-left: 0;
  }
  .summary {
    flex-direction: column;
    margin-top: 40px;
  }
  .summary > div {
    width: inherit;
  }
  .summary > div:not(:last-child) {
    margin-bottom: 1rem;
  }
  .summary > div > p > span:first-child {
    margin-left: auto;
  }
}

@media (max-width: 290px) {
  .card > span > span > img {
    height: 229px !important;
  }
  .summary > div > p > span {
    margin-left: 0;
  }
}
