.order {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.order h1 {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.1875rem;
  margin: 3.125rem 0;
}

.card {
  position: relative;
  display: flex;
  justify-content: space-between;

  max-width: 35rem;
  min-height: 10rem;
  margin: 0.3125rem;
  padding: 0.625rem;

  background: var(--main-color);
  border: var(--card-border);
  box-sizing: border-box;
  box-shadow: var(--box-shadow);
  border-radius: 4px;
}

.card > div {
  margin: 0 1.25rem;
  align-self: center;
  position: relative;
}

.card > div:last-child::before {
  content: '';
  background: var(--lightmiddlegray-color);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 1px;
  margin-left: -1.25rem;
}

.card > div h3 {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.625rem;
  text-transform: uppercase;
}

.card > div h4 {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.375rem;
  color: var(--gray-color);
}
.card > div h5 {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.375rem;
  margin-bottom: 0.4375rem;
}
.card > div p {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.625rem;
  letter-spacing: 2px;
}

.middle {
  flex: 1 0 auto;
}

.summary {
  max-width: 35rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.625rem 0;
  margin-top: 3.125rem;
}

.summary > div > p {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.375rem;
  color: var(--gray-color);
  display: flex;
  justify-content: space-between;
}
.summary > div > p > span {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.375rem;
  text-transform: capitalize;
  color: var(--black-color);

  padding-left: 0.625rem;
}

@media (max-width: 490px) {
  .order h1 {
    margin: 2.5rem 0;
  }
  .card {
    width: 100%;
    flex-direction: column;
  }
  .card > span {
    margin-bottom: 1rem !important;
  }
  .card > span > span > img {
    height: 20.5625rem !important;
  }
  .card > div {
    margin: 0 auto;
    width: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .card > div > h5 {
    margin: 0 auto 0 0;
  }
  .card > div:last-child::before {
    content: '';
    background: transparent;
    position: relative;
    width: 0;
    margin-left: 0;
  }
  .summary {
    flex-direction: column;
    margin-top: 2.5rem;
  }
  .summary > div {
    width: inherit;
  }
  .summary > div:not(:last-child) {
    margin-bottom: 1rem;
  }
  .summary > div > p > span:first-child {
    margin-left: auto;
  }
}

@media (max-width: 290px) {
  .card > span > span > img {
    height: 14.3125rem !important;
  }
  .summary > div > p {
    word-break: break-all;
  }
  .summary > div > p > span {
    margin-left: 0;
  }
}
