.order {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.order h1 {
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
  margin: 50px 0;
}

.card {
  position: relative;
  display: flex;

  width: 560px;
  min-height: 160px;
  margin: 5px;
  padding: 10px;

  background: var(--main-color);
  border: var(--card-border);
  box-sizing: border-box;
  box-shadow: var(--box-shadow);
  border-radius: 4px;
}

.card > div {
  margin: 0 20px;
}

.card > div h3 {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}

.card > div h4 {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: var(--gray-color);
}
.card > div h5 {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 7px;
}
.card > div p {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.5px;
}

.card > div {
  align-self: center;
  position: relative;
}

.card > div:last-child::before {
  content: '';
  background: var(--lightmiddlegray-color);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 1px;
  margin-left: -20px;
}

.summary {
  max-width: 560px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0;
  margin-top: 50px;
}

.summary > div > p {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: var(--gray-color);
  display: flex;
  justify-content: space-between;
}
.summary > div > p > span {
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: var(--black-color);

  padding-left: 10px;
}
