.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: var(--black-color);
  color: var(--main-color);
  min-height: 76px;
  flex-shrink: 0;
  padding: 0 160px;
}

.header > a {
  flex: 1 0 auto;
  max-width: 100%;
}

.header nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: end;
  flex: 1 0 auto;
  max-width: 100%;
}

.header nav a {
  position: relative;
}

.header nav a:not(:first-child) {
  margin-left: 30px;
}

.count {
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translateY(10%);
  background-color: var(--orange-color);
  color: var(--black-color);
  border-radius: 50%;
  padding: 0 5px;
  font-size: 12px;
  display: inline-block;
}

.navBtn:last-child::before {
  content: '';
  background: var(--orange-color);
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 2px;
  margin-left: -20px;
}
.navBtn {
  color: var(--main-color);
  background-color: transparent;
  border: none;
  position: relative;
  margin-left: 40px;
  text-transform: uppercase;
  cursor: pointer;
}

.arrowBtn {
  background-color: transparent;
  border: none;
  margin-left: 10px;
  cursor: pointer;
}

.header nav p {
  text-transform: capitalize;
  display: inline;
  margin-left: 30px;
}
.header nav div {
  margin-left: 30px;
  width: 40px;
  height: 40px;
  border: 2px solid var(--orange-color);
  border-radius: 50%;
  background-color: var(--lightmiddlegray-color);
  color: var(--black-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  border: none;
  background-color: transparent;
  color: var(--orange-color) !important;
  text-transform: none !important;
  margin-left: 0 !important;
  width: 100%;
  text-align: left;
  transition: background 0.3s ease-out;
  cursor: pointer;
  font-size: 14px;
  line-height: 26px;
}

.header nav ul li:first-child,
.header nav ul li a {
  color: var(--black-color);
}
.header nav ul li a {
  text-transform: capitalize;
  display: inline-block;
  width: 100%;
}

@media (max-width: 600px) {
  .header {
    padding: 5px;
  }

  .header > a {
    text-align: center;
  }
  .header nav {
    justify-content: center;
    flex-wrap: wrap;
  }
}
