.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--black-color);
  color: var(--main-color);
  height: 76px;
  flex-shrink: 0;
  padding: 0 160px;
}

.header nav {
  position: relative;
}
.header nav a {
  position: relative;
}

.header nav a:not(:first-child) {
  margin-left: 30px;
}

.header nav button {
  color: var(--main-color);
  background-color: transparent;
  border: none;
  position: relative;
  margin-left: 40px;
  text-transform: uppercase;
  cursor: pointer;
}

.header nav button:last-child::before {
  content: '';
  background: var(--orange-color);
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 2px;
  margin-left: -20px;
}

.header nav p {
  text-transform: capitalize;
  display: inline;
  margin-left: 30px;
}
