.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--black-color);
  color: var(--main-color);
  height: 76px;
  flex-shrink: 0;
  padding: 0 160px;
}

.header nav {
  position: relative;
}
.header nav a {
  position: relative;
}

.header nav a:not(:first-child) {
  margin-left: 30px;
}

.count {
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translateY(10%);
  background-color: var(--orange-color);
  color: var(--black-color);
  border-radius: 50%;
  padding: 0 5px;
  font-size: 12px;
  display: inline-block;
}

.navBtn:last-child::before {
  content: '';
  background: var(--orange-color);
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 2px;
  margin-left: -20px;
}
.navBtn {
  color: var(--main-color);
  background-color: transparent;
  border: none;
  position: relative;
  margin-left: 40px;
  text-transform: uppercase;
  cursor: pointer;
}

.arrowBtn {
  background-color: transparent;
  border: none;
  margin-left: 10px;
  cursor: pointer;
}

.header nav p {
  text-transform: capitalize;
  display: inline;
  margin-left: 30px;
}

.btn {
  border: none;
  background-color: transparent;
  color: var(--orange-color) !important;
  text-transform: none !important;
  margin-left: 0 !important;
  width: 100%;
  text-align: left;
  transition: background 0.3s ease-out;
  cursor: pointer;
}
