.section {
  margin-top: 70px;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr 0.35fr;
  grid-template-areas:
    'title title'
    'left right';
}
.section h1 {
  grid-area: title;
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 25px;
  line-height: 37px;

  letter-spacing: 0.4px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 560px;
  min-height: 160px;
  padding: 10px 22px;

  border: var(--card-border);
  border-radius: 4px;
  box-shadow: var(--box-shadow);
  margin-bottom: 23px;
}

.left {
  grid-area: left;
}
.right {
  position: relative;
  height: 100%;
  grid-area: right;
}
.right::before {
  content: '';
  background: var(--lightmiddlegray-color);
  position: absolute;
  bottom: 0;
  left: 0;
  height: inherit;
  width: 2px;
  margin-left: -40px;
}
.basketMiddle {
  max-width: 250px;
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.basketMiddle h2 {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 10px;
}
.basketMiddle span {
  margin: 0 10px;
}
.basketRight {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.basketRight::before {
  content: '';
  background: var(--lightmiddlegray-color);
  position: absolute;
  bottom: 0;
  left: 0;
  height: inherit;
  width: 2px;
  margin-left: -20px;
}
.basketRight h4 {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 10px;
}
.basketRight span {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.5px;
}
.btns {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: start;
}

.removeBtn {
  border: none;
  background-color: transparent;
  margin-right: 20px;
  cursor: pointer;
}

.countBtns {
  padding: 0 10px;
  line-height: 26px;
  font-size: 13px;
  border: none;
  border-radius: 50%;
  transition: box-shadow 0.2s ease-in;
  cursor: pointer;
}
.countBtns:hover {
  box-shadow: var(--box-shadow-like);
}

.summary {
  margin: 20px 0 30px;
  display: flex;
  flex-direction: column;
}
.summary p {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.4px;
  color: var(--gray-color);
  display: flex;
  justify-content: space-between;
}
.summary span {
  color: var(--black-color);
}

.confirmBtn {
  max-width: 220px;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 4px;
  background: var(--orange-color);
  color: var(--main-color);
  padding: 0.25rem 0.5rem;
  font-size: 14px;
  line-height: 1.7;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 0.4px;
  cursor: pointer;
}

.confirmBtn:last-child {
  margin-top: 18px;
  display: block;
  background: var(--main-color);
  color: var(--orange-color);
  border: 1px solid var(--orange-color);
}

.modalContent {
  background-color: var(--main-color);
  box-shadow: var(--box-shadow);
  border-radius: 4px;
  border: none;
  padding: 2rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modalContent h3 {
  text-align: center;
  text-transform: capitalize;
  font-size: 22px;
  line-height: 32px;
  font-weight: 400;
  margin-bottom: 0.8rem;
}
.modalContent p {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 15px;
  line-height: 22px;
  color: var(--gray-color);
}

@media (max-width: 1360px) {
  .section {
    grid-template-columns: 1fr;
    grid-template-areas:
      'title'
      'left'
      'right';
  }
  .card {
    max-width: 100%;
  }
  .right::before {
    content: '';
    background: transparent;
    position: relative;
    width: 0;
    margin-left: 0;
  }
}

@media (max-width: 930px) {
  .basketMiddle {
    align-items: center;
  }
  .basketMiddle .btns {
    align-self: center;
  }
}
@media (max-width: 600px) {
  .section {
    margin-top: 25px;
    grid-template-columns: 1fr;
    grid-template-areas:
      'title'
      'left'
      'right';
  }

  .section h1 {
    text-align: center;
    margin-bottom: 16px;
  }
  .section form {
    display: flex;
    flex-direction: column;
  }
  .card {
    padding: 10px 14px;
  }
  .basketMiddle {
    align-items: center;
    justify-content: space-evenly;
  }
  .basketMiddle h2 {
    word-wrap: break-word;
    width: 100px;
  }
  .basketMiddle .btns {
    align-self: center;
  }

  .basketRight::before {
    margin-left: -15px;
  }
  .confirmBtn {
    align-self: center;
  }
  .card {
    flex-direction: column;
  }
  .basketLeft {
    margin-bottom: 1rem !important;
  }
  .basketMiddle {
    max-width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
  .basketRight {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto 0 0;
  }
  .basketRight > h4 {
    margin: 0 auto 0 0;
  }
  .card > div:last-child::before {
    content: '';
    background: transparent;
    position: relative;
    width: 0;
    margin-left: 0;
  }
}
