.message {
  margin-top: 50px;
}

.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 782px;
  min-height: 697px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.card {
  display: flex;
  width: 420px;
  height: 320px;
  padding: 10px;

  border: var(--card-border);
  border-radius: 4px;
  box-shadow: var(--box-shadow);
}

.contentRight {
  max-width: 300px;
  max-height: 320px;
  height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.top .title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}
.middle .price {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: var(--black-color);
  margin-bottom: 25px;
}

.buttons span {
  margin: 0 10px;
}

.countBtns {
  padding: 0 10px;
  line-height: 26px;
  font-size: 13px;
  border: none;
  border-radius: 50%;
  transition: box-shadow 0.2s ease-in;
  cursor: pointer;
}
.countBtns:hover {
  box-shadow: var(--box-shadow-like);
}

.contentRight p {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: var(--gray-color);
}

.contentRight p span {
  margin-left: 20px;
  font-weight: 700;
  color: var(--black-color);
}

.btns {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.addModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  background-color: var(--main-color);
  box-shadow: var(--box-shadow);
  border-radius: 4px;
  border: none;
  padding: 2rem;
  margin-bottom: 1rem;
}
.addModal h3 {
  font-weight: 300;
  margin-bottom: 20px;
}

.addBtn {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 4px;
  border: 1px solid var(--orange-color);
  padding: 0.25rem 0.5rem;
  background: var(--main-color);
  color: var(--orange-color);
  font-size: 14px;
  line-height: 1.7;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 0.4px;
  cursor: pointer;
}

.addBtn:last-child {
  background: var(--orange-color);
  color: var(--main-color);
}

.addBtn:not(:last-child) {
  margin-bottom: 10px;
  margin-right: 5px;
}

@media (max-width: 600px) {
  .product {
    justify-content: center;
    margin: 40px 0 0;
  }
  .contentRight {
    margin: 40px 0;
    text-align: center;
  }
  .btns {
    flex-direction: column;
    align-items: center;
    z-index: 1000;
  }
  .addBtn {
    margin-bottom: 20px;
  }
}
