.message {
  margin-top: 3.125rem;
}

.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 48.875rem;
  min-height: 43.5625rem;
  margin: 0 auto;
  flex-wrap: wrap;
}

.card {
  display: flex;
  width: 26.25rem;
  height: 20rem;
  padding: 0.625rem;

  border: var(--card-border);
  border-radius: 4px;
  box-shadow: var(--box-shadow);
}

.contentRight {
  max-width: 18.75rem;
  min-height: 21.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.top .title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.625rem;
  letter-spacing: 0.5px;
  margin-bottom: 0.625rem;
}
.middle .price {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.625rem;
  color: var(--black-color);
  margin-bottom: 1.5625rem;
}

.buttons span {
  margin: 0 0.625rem;
}

.countBtns {
  padding: 0 0.625rem;
  line-height: 1.625rem;
  font-size: 0.8125rem;
  border: none;
  border-radius: 50%;
  transition: box-shadow 0.2s ease-in;
  cursor: pointer;
}
.countBtns:hover {
  box-shadow: var(--box-shadow-like);
}

.contentRight p {
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.375rem;
  color: var(--gray-color);
}

.contentRight p span {
  margin-left: 1.25rem;
  font-weight: 700;
  color: var(--black-color);
}

.btns {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.addModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  background-color: var(--main-color);
  box-shadow: var(--box-shadow);
  border-radius: 4px;
  border: none;
  padding: 2rem;
  margin-bottom: 1rem;
}
.addModal h3 {
  font-weight: 300;
  margin-bottom: 1.25rem;
}

.addBtn {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 4px;
  border: 1px solid var(--orange-color);
  padding: 0.25rem 0.5rem;
  background: var(--main-color);
  color: var(--orange-color);
  font-size: 0.875rem;
  line-height: 1.7;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 0.4px;
  cursor: pointer;
}

.addBtn:last-child {
  background: var(--orange-color);
  color: var(--main-color);
}

.addBtn:not(:last-child) {
  margin-bottom: 1rem;
}

@media (max-width: 1030px) {
  .product {
    justify-content: center;
    margin: 2.5rem 0 0;
  }
  .contentRight {
    margin: 2.5rem 0;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .btns {
    flex-direction: column;
    align-items: center;
    z-index: 1000;
  }
  .addBtn {
    margin-bottom: 1.25rem;
  }
}
