.product {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  height: 697px;
}

.card {
  display: flex;
  width: 420px;
  height: 320px;
  padding: 10px;

  border: var(--card-border);
  border-radius: 4px;
  box-shadow: var(--box-shadow);
}

.product article {
  margin-right: 15px;
}

.contentRight {
  max-width: 300px;
  max-height: 320px;
  margin-left: 15px;
  height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.top .title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}
.middle .price {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: var(--black-color);
  margin-bottom: 25px;
}

.buttons span {
  margin: 0 10px;
}

.countBtns {
  padding: 0 10px;
  line-height: 26px;
  font-size: 13px;
  border: none;
  border-radius: 50%;
  transition: box-shadow 0.2s ease-in;
  cursor: pointer;
}
.countBtns:hover {
  box-shadow: var(--box-shadow-like);
}

.contentRight p {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: var(--gray-color);
}

.contentRight p span {
  margin-left: 20px;
  font-weight: 700;
  color: var(--black-color);
}
