.dropdown {
  position: absolute;
  right: 0%;
  top: 60px;
  max-width: 250px;
  width: 100%;
  height: inherit;
  font-size: 13px;
  letter-spacing: 0.4px;
  color: var(--gray-color);
  background: var(--main-color);
  box-shadow: var(--box-shadow-like);
  border-radius: 4px;
  z-index: 1000;
  padding: 10px 0;
}
.dropdown li {
  padding: 0 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  transition: all 0.3s ease-out;
}

.dropdown li:nth-child(n + 3):hover {
  background-color: var(--lightgray-color);
  color: var(--main-color);
}

.dropdown hr {
  margin: 10px 0;
}
