.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  z-index: 1000;
  background-color: var(--modal-background-color);
}

.box {
  max-width: 40rem;
  width: 100%;
  padding: 4rem;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 1001;
  background-color: transparent;
  border: none;
}

.close {
  font-size: 2.5rem;
  position: absolute;
  top: 0rem;
  right: 1.5rem;
  cursor: pointer;
  color: var(--gray-color);
}
