.like {
  position: absolute;
  top: 75%;
  right: 5px;
  transform: translateY(-75%);

  background: var(--main-color);
  box-shadow: var(--box-shadow-like);
  border: none;
  border-radius: 50%;
  padding: 10px 8px 8px;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.heart {
  position: relative;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  background-color: var(--yellow-color);
}
.heart:before,
.heart:after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--yellow-color);
}
.heart:before {
  bottom: 0px;
  left: -5px;
}
.heart:after {
  top: -5px;
  right: 0px;
}

.heart.active,
.heart.active:before,
.heart.active:after {
  background-color: var(--red-color);
}
